main {
    background: $white1;
    margin-bottom: 50px;
    .container {
        padding: 60px;
        text-align: center;
        h1{
            font-family: $font1;
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 40px;
        }
        .imgContainer{
            width: 50%;
            height: auto;
            padding:0;
            margin: 0 auto;
            overflow: hidden;
            #map{
                height: 100%;
                width: 100%;
                transition: 0.9s ease-in-out;
                &:hover{
                    transform: scale(1.6);
                }
            }
        }
        p{
           width: 70%;
           margin: 40px auto 0;
        }
    }
    .beauvais{
        height: 70px;
        background: $grey1;
        display: flex;
        p{
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            padding: 0 15px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 2px solid black;
        }
        ul {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 0.8rem;
                padding: 0 15px;
                a{
                    text-transform: uppercase;
                    color: white;
                }
                &:hover {
                    background: $white1;
                    a{
                        color: $grey1;
                    }
                }

            }
        }
    }
}